.container {
  margin: 25px auto;
}

.select {
  display: flex;
  width: 30vw;
}

.cityInfo {
  margin-right: 5px;
}

.spinner {
  width: 50px;
  position: relative;
  left: calc(15vw - 25px);
  right: calc(15vw - 50px);
}
